<article class="comp">
      <div class="title-section">
            <a href="/composition/{{id}}">{{title}}</a>
            <span class="comp-info">by <span class="username"><a href="/user/{{user.id}}">{{user.username}}</a></span></span>
      </div>
      <div class="instrument-section">
            <ul>
                  {{#each instruments as |instrument|}}
                  <li>
                        <a href="/instrument/{{instrument.id}}">{{instrument.name}}</a>
                  </li>
                  {{/each}}
            </ul>
      </div>
</article>