<article class="instrument">
    <div class="name-section">
        <a href="/instrument/{{id}}">{{name}}</a>
        {{!-- <span class="comp-info">by <span class="username"><a href="/user/{{user.id}}">{{user.username}}</a></span></span> --}}
    </div>

    {{!-- <div class="instrument-section">
        <h3>Compositions</h3>
        <ul>
            {{#each compositions as |comp|}}
            <li>
                <a href="/composition/{{comp.id}}">{{composition.title}}</a>
            </li>
            {{/each}}
        </ul>

        <h3>Users</h3>
        <ul>
            {{#each users as |user|}}
            <li>
                <a href="/user/{{user.id}}">{{user.username}}</a>
            </li>
            {{/each}}
        </ul>
    </div> --}}
    
</article>